#counter-container {
    display: grid;
    grid-template-rows: 4rem calc(100vh - 8.5rem) 4.5rem;

    & > div {
        padding: 1rem;

        &:first-child {
            padding-bottom: 0;
        }

        &:nth-child(2) {
            padding: 0 0.62rem;
        }

        &:last-child {
            padding-top: 0;
        }
    }
}
